{% extends "base/index.html" %}
{% load crispy_forms_tags %}
{% block header %}
    <h1>Forgot Your Password?</h1>
{% endblock header %}
{% block content %}
<div class="pt-6">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}